In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\dhruv\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dhruv\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dhruv\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dhruv\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\dhruv\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\dhruv\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dhruv\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dhruv\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dhruv\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dhruv\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\dhruv\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: python-dotenv in c:\users\dhruv\anaconda3\lib\site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: packaging in c:\users\dhruv\anaconda3\lib\site-packages (from webdriver_manager) (21.3)
Requirement already satisfied: requests in c:\users\dhruv\anaconda3\lib\site-packages (from webdriver_manager) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dhruv\anaconda3\lib\site-packages (from packaging->webdriver_manager) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dhruv\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dhruv\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dhruv\anaconda3\lib\site-packages (from requests->webdriver_manager) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dhruv\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp39-cp39-win_amd64.whl (472 kB)
     -------------------------------------- 472.7/472.7 kB 4.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     -------------------------------------- 300.4/300.4 kB 9.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import pandas as pd

In [5]:
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3610000401&pickMembers%5B0%5D=4.1&cubeTimeFrame.startYear=1997&cubeTimeFrame.endYear=2022&referencePeriods=19970101%2C20220101url = ""

In [6]:
PATH = 'C:\Program Files\Google\Chrome\Application\chrome.exe'
driver = webdriver.Chrome()
driver.get(url)    
driver.implicitly_wait(5)
page_source = driver.page_source
driver.close()
driver.quit()

# Reset Dataframe

In [7]:
tables = pd.read_html(page_source)
df = tables[0]
df.head()

  Countries or regions                            All countries           \
             Geography                             Canada (map)
                 Trade Travel spending categories          1997     1998
0                  NaN                        NaN           NaN      NaN
1                  NaN                        NaN       Dollars  Dollars
2              Exports              Travel, total         12617    14455
3              Exports            Business travel          2461     2772
4              Exports              Crew spending           110      142

                                                         ...           \
                                                         ...
      1999     2000     2001     2002     2003     2004  ...     2013
0      NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1  Dollars  Dollars  Dollars  Dollars  Dollars  Dollars  ...  Dollars
2    15665    16502    17277    17781    15897    18190  ...    21536
3     2897     2920     2683     2789     2449     2760  ...     3393
4      175      177      173      175      180      180  ...      153

                                                                           \

      2014     2015     2016     2017     2018     2019     2020     2021
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1  Dollars  Dollars  Dollars  Dollars  Dollars  Dollars  Dollars  Dollars
2    23800    25996    29961    32446    35391    39547    18593    19237
3     3447     3568     3835     4124     4420     4669      885      702
4      152      152      159      130      130      125       28       17



      2022
0      NaN
1  Dollars
2    36520
3     2806
4       70

[5 rows x 28 columns]

# Remove Higher Column Headers

In [8]:
for i in range(2):
    df.columns = df.columns.droplevel(0)
df.head()

,Trade,Travel spending categories,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,...,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars,Dollars
2,Exports,"Travel, total",12617,14455,15665,16502,17277,17781,15897,18190,...,21536,23800,25996,29961,32446,35391,39547,18593,19237,36520
3,Exports,Business travel,2461,2772,2897,2920,2683,2789,2449,2760,...,3393,3447,3568,3835,4124,4420,4669,885,702,2806
4,Exports,Crew spending,110,142,175,177,173,175,180,180,...,153,152,152,159,130,130,125,28,17,70

# Remove N/A values and 'Dollar' Rows

In [9]:
df = df.drop(index=[0,1])
df.reset_index(drop = True,inplace=True)
df.head()

,Trade,Travel spending categories,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Exports,"Travel, total",12617,14455,15665,16502,17277,17781,15897,18190,...,21536,23800,25996,29961,32446,35391,39547,18593,19237,36520
1,Exports,Business travel,2461,2772,2897,2920,2683,2789,2449,2760,...,3393,3447,3568,3835,4124,4420,4669,885,702,2806
2,Exports,Crew spending,110,142,175,177,173,175,180,180,...,153,152,152,159,130,130,125,28,17,70
3,Exports,Other business travel1,2351,2630,2722,2744,2510,2614,2269,2580,...,3239,3295,3415,3676,3994,4290,4544,857,685,2736
4,Exports,Personal travel,10156,11683,12768,13582,14594,14992,13449,15430,...,18144,20353,22428,26126,28322,30971,34878,17708,18535,33714

In [10]:
def remove_commas(value):
    if isinstance(value, str):
        return value.replace(',', '')
    elif isinstance(value, (int, float)):
        return str(value).replace(',', '')
    else:
        return value

# Apply the function to all columns
df.iloc[:, 2:] = df.iloc[:, 2:].applymap(remove_commas)

# Convert the columns back to numeric (if needed)
df.iloc[:, 2:] = df.iloc[:, 2:].apply(pd.to_numeric, errors='coerce')

df

,Trade,Travel spending categories,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Exports,"Travel, total",12617.0,14455.0,15665.0,16502.0,17277.0,17781.0,15897.0,18190.0,...,21536.0,23800.0,25996.0,29961.0,32446.0,35391.0,39547.0,18593.0,19237.0,36520.0
1,Exports,Business travel,2461.0,2772.0,2897.0,2920.0,2683.0,2789.0,2449.0,2760.0,...,3393.0,3447.0,3568.0,3835.0,4124.0,4420.0,4669.0,885.0,702.0,2806.0
2,Exports,Crew spending,110.0,142.0,175.0,177.0,173.0,175.0,180.0,180.0,...,153.0,152.0,152.0,159.0,130.0,130.0,125.0,28.0,17.0,70.0
3,Exports,Other business travel1,2351.0,2630.0,2722.0,2744.0,2510.0,2614.0,2269.0,2580.0,...,3239.0,3295.0,3415.0,3676.0,3994.0,4290.0,4544.0,857.0,685.0,2736.0
4,Exports,Personal travel,10156.0,11683.0,12768.0,13582.0,14594.0,14992.0,13449.0,15430.0,...,18144.0,20353.0,22428.0,26126.0,28322.0,30971.0,34878.0,17708.0,18535.0,33714.0
5,Exports,Health related,88.0,90.0,92.0,94.0,98.0,100.0,103.0,106.0,...,150.0,158.0,162.0,163.0,169.0,176.0,182.0,30.0,24.0,104.0
6,Exports,Education related,1220.0,1285.0,1368.0,1419.0,1772.0,1965.0,2137.0,2472.0,...,6209.0,7127.0,8230.0,9027.0,10371.0,12457.0,16148.0,15709.0,16003.0,22264.0
7,Exports,Other personal travel1,8848.0,10307.0,11309.0,12069.0,12724.0,12927.0,11208.0,12852.0,...,11785.0,13068.0,14036.0,16936.0,17782.0,18338.0,18548.0,1969.0,2508.0,11346.0
8,Imports,"Travel, total",16075.0,16261.0,17214.0,18568.0,18714.0,18780.0,19092.0,20613.0,...,38966.0,41568.0,43223.0,43360.0,45010.0,44740.0,46901.0,16203.0,10202.0,37259.0
9,Imports,Business travel,3475.0,3957.0,4059.0,3921.0,3418.0,3442.0,3427.0,3178.0,...,4662.0,4967.0,5114.0,5262.0,5489.0,5432.0,5828.0,1550.0,883.0,4093.0
10,Imports,Crew spending,129.0,133.0,171.0,169.0,162.0,170.0,183.0,193.0,...,274.0,262.0,306.0,353.0,379.0,405.0,401.0,119.0,46.0,286.0
11,Imports,Other business travel1,3346.0,3824.0,3888.0,3751.0,3256.0,3272.0,3244.0,2986.0,...,4388.0,4705.0,4808.0,4910.0,5110.0,5027.0,5426.0,1430.0,837.0,3807.0
12,Imports,Personal travel,12600.0,12303.0,13156.0,14648.0,15296.0,15338.0,15665.0,17434.0,...,34304.0,36601.0,38110.0,38098.0,39522.0,39308.0,41073.0,14654.0,9319.0,33166.0
13,Imports,Health related,225.0,263.0,286.0,317.0,368.0,364.0,349.0,343.0,...,447.0,480.0,568.0,680.0,690.0,690.0,690.0,211.0,79.0,490.0
14,Imports,Education related,917.0,1008.0,1128.0,1214.0,1311.0,1642.0,1654.0,1642.0,...,2103.0,2389.0,3023.0,3324.0,3453.0,3591.0,3734.0,3178.0,3373.0,3679.0
15,Imports,Other personal travel1,11458.0,11032.0,11742.0,13117.0,13617.0,13331.0,13661.0,15449.0,...,31753.0,33732.0,34519.0,34094.0,35379.0,35027.0,36649.0,11265.0,5867.0,28997.0
16,Balances,"Travel, total",-3458.0,-1806.0,-1549.0,-2067.0,-1437.0,-999.0,-3194.0,-2422.0,...,-17430.0,-17768.0,-17228.0,-13399.0,-12565.0,-9349.0,-7354.0,2389.0,9035.0,-739.0
17,Balances,Business travel,-1015.0,-1185.0,-1162.0,-1001.0,-735.0,-653.0,-978.0,-418.0,...,-1270.0,-1520.0,-1546.0,-1428.0,-1365.0,-1012.0,-1159.0,-665.0,-181.0,-1287.0
18,Balances,Crew spending,-19.0,9.0,4.0,7.0,11.0,5.0,-3.0,-12.0,...,-121.0,-110.0,-153.0,-194.0,-249.0,-275.0,-276.0,-92.0,-29.0,-216.0
19,Balances,Other business travel1,-995.0,-1194.0,-1166.0,-1008.0,-746.0,-658.0,-975.0,-406.0,...,-1149.0,-1410.0,-1393.0,-1234.0,-1116.0,-737.0,-882.0,-573.0,-152.0,-1071.0
20,Balances,Personal travel,-2444.0,-621.0,-387.0,-1066.0,-702.0,-345.0,-2216.0,-2004.0,...,-16160.0,-16248.0,-15682.0,-11972.0,-11200.0,-8337.0,-6195.0,3054.0,9216.0,548.0
21,Balances,Health related,-138.0,-173.0,-194.0,-223.0,-270.0,-264.0,-246.0,-237.0,...,-297.0,-322.0,-406.0,-517.0,-521.0,-514.0,-508.0,-181.0,-55.0,-385.0
22,Balances,Education related,303.0,277.0,240.0,205.0,461.0,323.0,483.0,830.0,...,4105.0,4738.0,5207.0,5703.0,6918.0,8867.0,12414.0,12531.0,12630.0,18585.0
23,Balances,Other personal travel1,-2609.0,-725.0,-433.0,-1048.0,-893.0,-404.0,-2453.0,-2597.0,...,-19968.0,-20664.0,-20483.0,-17158.0,-17597.0,-16689.0,-18101.0,-9296.0,-3359.0,-17651.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Model

In [11]:
data = {
    'year': '1997',
    'trave_category': 'Business Travel',
    'trade_type': 'Exports',
    'value': 1234.5
    }

# Remove NaN value in Trade Column

In [12]:
df.Trade.unique()

array(['Exports', 'Imports', 'Balances', nan], dtype=object)

In [13]:
df[df['Trade'].isnull()]

,Trade,Travel spending categories,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
index = df.loc[df.Trade.isnull()].index[0]
df = df.drop(index= index)
df.reset_index(drop=True,inplace = True)
df.Trade.unique()

array(['Exports', 'Imports', 'Balances'], dtype=object)

In [15]:
df.columns

Index(['Trade', 'Travel spending categories', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022'],
      dtype='object')

In [16]:
len(df)

24

In [17]:
df

,Trade,Travel spending categories,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Exports,"Travel, total",12617.0,14455.0,15665.0,16502.0,17277.0,17781.0,15897.0,18190.0,...,21536.0,23800.0,25996.0,29961.0,32446.0,35391.0,39547.0,18593.0,19237.0,36520.0
1,Exports,Business travel,2461.0,2772.0,2897.0,2920.0,2683.0,2789.0,2449.0,2760.0,...,3393.0,3447.0,3568.0,3835.0,4124.0,4420.0,4669.0,885.0,702.0,2806.0
2,Exports,Crew spending,110.0,142.0,175.0,177.0,173.0,175.0,180.0,180.0,...,153.0,152.0,152.0,159.0,130.0,130.0,125.0,28.0,17.0,70.0
3,Exports,Other business travel1,2351.0,2630.0,2722.0,2744.0,2510.0,2614.0,2269.0,2580.0,...,3239.0,3295.0,3415.0,3676.0,3994.0,4290.0,4544.0,857.0,685.0,2736.0
4,Exports,Personal travel,10156.0,11683.0,12768.0,13582.0,14594.0,14992.0,13449.0,15430.0,...,18144.0,20353.0,22428.0,26126.0,28322.0,30971.0,34878.0,17708.0,18535.0,33714.0
5,Exports,Health related,88.0,90.0,92.0,94.0,98.0,100.0,103.0,106.0,...,150.0,158.0,162.0,163.0,169.0,176.0,182.0,30.0,24.0,104.0
6,Exports,Education related,1220.0,1285.0,1368.0,1419.0,1772.0,1965.0,2137.0,2472.0,...,6209.0,7127.0,8230.0,9027.0,10371.0,12457.0,16148.0,15709.0,16003.0,22264.0
7,Exports,Other personal travel1,8848.0,10307.0,11309.0,12069.0,12724.0,12927.0,11208.0,12852.0,...,11785.0,13068.0,14036.0,16936.0,17782.0,18338.0,18548.0,1969.0,2508.0,11346.0
8,Imports,"Travel, total",16075.0,16261.0,17214.0,18568.0,18714.0,18780.0,19092.0,20613.0,...,38966.0,41568.0,43223.0,43360.0,45010.0,44740.0,46901.0,16203.0,10202.0,37259.0
9,Imports,Business travel,3475.0,3957.0,4059.0,3921.0,3418.0,3442.0,3427.0,3178.0,...,4662.0,4967.0,5114.0,5262.0,5489.0,5432.0,5828.0,1550.0,883.0,4093.0
10,Imports,Crew spending,129.0,133.0,171.0,169.0,162.0,170.0,183.0,193.0,...,274.0,262.0,306.0,353.0,379.0,405.0,401.0,119.0,46.0,286.0
11,Imports,Other business travel1,3346.0,3824.0,3888.0,3751.0,3256.0,3272.0,3244.0,2986.0,...,4388.0,4705.0,4808.0,4910.0,5110.0,5027.0,5426.0,1430.0,837.0,3807.0
12,Imports,Personal travel,12600.0,12303.0,13156.0,14648.0,15296.0,15338.0,15665.0,17434.0,...,34304.0,36601.0,38110.0,38098.0,39522.0,39308.0,41073.0,14654.0,9319.0,33166.0
13,Imports,Health related,225.0,263.0,286.0,317.0,368.0,364.0,349.0,343.0,...,447.0,480.0,568.0,680.0,690.0,690.0,690.0,211.0,79.0,490.0
14,Imports,Education related,917.0,1008.0,1128.0,1214.0,1311.0,1642.0,1654.0,1642.0,...,2103.0,2389.0,3023.0,3324.0,3453.0,3591.0,3734.0,3178.0,3373.0,3679.0
15,Imports,Other personal travel1,11458.0,11032.0,11742.0,13117.0,13617.0,13331.0,13661.0,15449.0,...,31753.0,33732.0,34519.0,34094.0,35379.0,35027.0,36649.0,11265.0,5867.0,28997.0
16,Balances,"Travel, total",-3458.0,-1806.0,-1549.0,-2067.0,-1437.0,-999.0,-3194.0,-2422.0,...,-17430.0,-17768.0,-17228.0,-13399.0,-12565.0,-9349.0,-7354.0,2389.0,9035.0,-739.0
17,Balances,Business travel,-1015.0,-1185.0,-1162.0,-1001.0,-735.0,-653.0,-978.0,-418.0,...,-1270.0,-1520.0,-1546.0,-1428.0,-1365.0,-1012.0,-1159.0,-665.0,-181.0,-1287.0
18,Balances,Crew spending,-19.0,9.0,4.0,7.0,11.0,5.0,-3.0,-12.0,...,-121.0,-110.0,-153.0,-194.0,-249.0,-275.0,-276.0,-92.0,-29.0,-216.0
19,Balances,Other business travel1,-995.0,-1194.0,-1166.0,-1008.0,-746.0,-658.0,-975.0,-406.0,...,-1149.0,-1410.0,-1393.0,-1234.0,-1116.0,-737.0,-882.0,-573.0,-152.0,-1071.0
20,Balances,Personal travel,-2444.0,-621.0,-387.0,-1066.0,-702.0,-345.0,-2216.0,-2004.0,...,-16160.0,-16248.0,-15682.0,-11972.0,-11200.0,-8337.0,-6195.0,3054.0,9216.0,548.0
21,Balances,Health related,-138.0,-173.0,-194.0,-223.0,-270.0,-264.0,-246.0,-237.0,...,-297.0,-322.0,-406.0,-517.0,-521.0,-514.0,-508.0,-181.0,-55.0,-385.0
22,Balances,Education related,303.0,277.0,240.0,205.0,461.0,323.0,483.0,830.0,...,4105.0,4738.0,5207.0,5703.0,6918.0,8867.0,12414.0,12531.0,12630.0,18585.0
23,Balances,Other personal travel1,-2609.0,-725.0,-433.0,-1048.0,-893.0,-404.0,-2453.0,-2597.0,...,-19968.0,-20664.0,-20483.0,-17158.0,-17597.0,-16689.0,-18101.0,-9296.0,-3359.0,-17651.0

# Replaced 'Travel spending categories' column name

In [18]:
df.columns = ['Travel_Category' if c == 'Travel spending categories' else c  for c in df.columns]

In [19]:
df.columns

Index(['Trade', 'Travel_Category', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022'],
      dtype='object')

In [20]:
df.Travel_Category.unique()

array(['Travel, total', 'Business travel', 'Crew spending',
       'Other business travel1', 'Personal travel', 'Health related',
       'Education related', 'Other personal travel1'], dtype=object)

In [21]:
category_list = ['Business travel', 'Crew spending',
       'Other business travel1', 'Personal travel', 'Health related',
       'Education related', 'Other personal travel1']

# def convert_to_numeric(column):
#     return pd.to_numeric(column.str.replace(',', ''), errors='coerce')

# # Apply the function to numeric columns
# df.iloc[:, 2:] = df.iloc[:, 2:].apply(convert_to_numeric)

df.loc[(df.Travel_Category == 'Travel, total') & (df.Trade == 'Exports')].values[0][2:]
val = df.loc[(df.Travel_Category.isin(category_list)) & (df.Trade == 'Exports')].sum().iloc[2:]

val

1997    25234.0
1998    28909.0
1999    31331.0
2000    33005.0
2001    34554.0
2002    35562.0
2003    31795.0
2004    36380.0
2005    36130.0
2006    36237.0
2007    36618.0
2008    36454.0
2009    34087.0
2010    36324.0
2011    37871.0
2012    40273.0
2013    43073.0
2014    47600.0
2015    51991.0
2016    59922.0
2017    64892.0
2018    70782.0
2019    79094.0
2020    37186.0
2021    38474.0
2022    73040.0
dtype: object

In [22]:
category_list = ['Business travel', 'Crew spending',
       'Other business travel1', 'Personal travel', 'Health related',
       'Education related', 'Other personal travel1']


for trade_type in list(df.Trade.unique()):
    
    sum_all = df.loc[(df.Travel_Category == 'Travel, total') & (df.Trade == str(trade_type))].values[0][2:]
    sum_others = df.loc[(df.Travel_Category.isin(category_list)) & (df.Trade == trade_type)].sum()[2:]
    
    sum_all_float = [float(val) for val in sum_all]
    sum_others_float = [float(val) for val in sum_others]
    difference = list(map(lambda x, y : x-y, sum_all_float, sum_others_float))
    new_row = [trade_type, "Others"] +  difference
    df.loc[len(df)] = new_row

In [23]:
df

,Trade,Travel_Category,1997,1998,1999,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Exports,"Travel, total",12617.0,14455.0,15665.0,16502.0,17277.0,17781.0,15897.0,18190.0,...,21536.0,23800.0,25996.0,29961.0,32446.0,35391.0,39547.0,18593.0,19237.0,36520.0
1,Exports,Business travel,2461.0,2772.0,2897.0,2920.0,2683.0,2789.0,2449.0,2760.0,...,3393.0,3447.0,3568.0,3835.0,4124.0,4420.0,4669.0,885.0,702.0,2806.0
2,Exports,Crew spending,110.0,142.0,175.0,177.0,173.0,175.0,180.0,180.0,...,153.0,152.0,152.0,159.0,130.0,130.0,125.0,28.0,17.0,70.0
3,Exports,Other business travel1,2351.0,2630.0,2722.0,2744.0,2510.0,2614.0,2269.0,2580.0,...,3239.0,3295.0,3415.0,3676.0,3994.0,4290.0,4544.0,857.0,685.0,2736.0
4,Exports,Personal travel,10156.0,11683.0,12768.0,13582.0,14594.0,14992.0,13449.0,15430.0,...,18144.0,20353.0,22428.0,26126.0,28322.0,30971.0,34878.0,17708.0,18535.0,33714.0
5,Exports,Health related,88.0,90.0,92.0,94.0,98.0,100.0,103.0,106.0,...,150.0,158.0,162.0,163.0,169.0,176.0,182.0,30.0,24.0,104.0
6,Exports,Education related,1220.0,1285.0,1368.0,1419.0,1772.0,1965.0,2137.0,2472.0,...,6209.0,7127.0,8230.0,9027.0,10371.0,12457.0,16148.0,15709.0,16003.0,22264.0
7,Exports,Other personal travel1,8848.0,10307.0,11309.0,12069.0,12724.0,12927.0,11208.0,12852.0,...,11785.0,13068.0,14036.0,16936.0,17782.0,18338.0,18548.0,1969.0,2508.0,11346.0
8,Imports,"Travel, total",16075.0,16261.0,17214.0,18568.0,18714.0,18780.0,19092.0,20613.0,...,38966.0,41568.0,43223.0,43360.0,45010.0,44740.0,46901.0,16203.0,10202.0,37259.0
9,Imports,Business travel,3475.0,3957.0,4059.0,3921.0,3418.0,3442.0,3427.0,3178.0,...,4662.0,4967.0,5114.0,5262.0,5489.0,5432.0,5828.0,1550.0,883.0,4093.0
10,Imports,Crew spending,129.0,133.0,171.0,169.0,162.0,170.0,183.0,193.0,...,274.0,262.0,306.0,353.0,379.0,405.0,401.0,119.0,46.0,286.0
11,Imports,Other business travel1,3346.0,3824.0,3888.0,3751.0,3256.0,3272.0,3244.0,2986.0,...,4388.0,4705.0,4808.0,4910.0,5110.0,5027.0,5426.0,1430.0,837.0,3807.0
12,Imports,Personal travel,12600.0,12303.0,13156.0,14648.0,15296.0,15338.0,15665.0,17434.0,...,34304.0,36601.0,38110.0,38098.0,39522.0,39308.0,41073.0,14654.0,9319.0,33166.0
13,Imports,Health related,225.0,263.0,286.0,317.0,368.0,364.0,349.0,343.0,...,447.0,480.0,568.0,680.0,690.0,690.0,690.0,211.0,79.0,490.0
14,Imports,Education related,917.0,1008.0,1128.0,1214.0,1311.0,1642.0,1654.0,1642.0,...,2103.0,2389.0,3023.0,3324.0,3453.0,3591.0,3734.0,3178.0,3373.0,3679.0
15,Imports,Other personal travel1,11458.0,11032.0,11742.0,13117.0,13617.0,13331.0,13661.0,15449.0,...,31753.0,33732.0,34519.0,34094.0,35379.0,35027.0,36649.0,11265.0,5867.0,28997.0
16,Balances,"Travel, total",-3458.0,-1806.0,-1549.0,-2067.0,-1437.0,-999.0,-3194.0,-2422.0,...,-17430.0,-17768.0,-17228.0,-13399.0,-12565.0,-9349.0,-7354.0,2389.0,9035.0,-739.0
17,Balances,Business travel,-1015.0,-1185.0,-1162.0,-1001.0,-735.0,-653.0,-978.0,-418.0,...,-1270.0,-1520.0,-1546.0,-1428.0,-1365.0,-1012.0,-1159.0,-665.0,-181.0,-1287.0
18,Balances,Crew spending,-19.0,9.0,4.0,7.0,11.0,5.0,-3.0,-12.0,...,-121.0,-110.0,-153.0,-194.0,-249.0,-275.0,-276.0,-92.0,-29.0,-216.0
19,Balances,Other business travel1,-995.0,-1194.0,-1166.0,-1008.0,-746.0,-658.0,-975.0,-406.0,...,-1149.0,-1410.0,-1393.0,-1234.0,-1116.0,-737.0,-882.0,-573.0,-152.0,-1071.0
20,Balances,Personal travel,-2444.0,-621.0,-387.0,-1066.0,-702.0,-345.0,-2216.0,-2004.0,...,-16160.0,-16248.0,-15682.0,-11972.0,-11200.0,-8337.0,-6195.0,3054.0,9216.0,548.0
21,Balances,Health related,-138.0,-173.0,-194.0,-223.0,-270.0,-264.0,-246.0,-237.0,...,-297.0,-322.0,-406.0,-517.0,-521.0,-514.0,-508.0,-181.0,-55.0,-385.0
22,Balances,Education related,303.0,277.0,240.0,205.0,461.0,323.0,483.0,830.0,...,4105.0,4738.0,5207.0,5703.0,6918.0,8867.0,12414.0,12531.0,12630.0,18585.0
23,Balances,Other personal travel1,-2609.0,-725.0,-433.0,-1048.0,-893.0,-404.0,-2453.0,-2597.0,...,-19968.0,-20664.0,-20483.0,-17158.0,-17597.0,-16689.0,-18101.0,-9296.0,-3359.0,-17651.0
24,Exports,Others,-12617.0,-14454.0,-15666.0,-16503.0,-17277.0,-17781.0,-15898.0,-18190.0,...,-21537.0,-23800.0,-25995.0,-29961.0,-32446.0,-35391.0,-39547.0,-18593.0,-19237.0,-36520.0
25,Imports,Others,-16075.0,-16259.0,-17216.0,-18569.0,-18714.0,-18779.0,-19091.0,-20612.0,...,-38965.0,-41568.0,-43225.0,-43361.0,-45012.0,-44740.0,-46900.0,-16204.0,-10202.0,-37259.0
26,Balances,Others,3459.0,1806.0,1549.0,2067.0,1437.0,997.0,3194.0,2422.0,...,17430.0,17768.0,17228.0,13401.0,12565.0,9348.0,7353.0,-2389.0,-9035.0,738.0

In [24]:
from datetime import datetime
data = {'data' : []}
for index,row in df.iterrows():
    for date  in df.columns[2:]:
        data['data'].append({
            'year': datetime.strptime(date, '%Y'),
            'trade_type': row.Trade,
            'travel_category': row.Travel_Category,
            'value': float(row[date])
        })
data['data'][0]

{'year': datetime.datetime(1997, 1, 1, 0, 0),
 'trade_type': 'Exports',
 'travel_category': 'Travel, total',
 'value': 12617.0}

In [25]:
len(data['data'])
data['data'][:10]

[{'year': datetime.datetime(1997, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 12617.0},
 {'year': datetime.datetime(1998, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 14455.0},
 {'year': datetime.datetime(1999, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 15665.0},
 {'year': datetime.datetime(2000, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 16502.0},
 {'year': datetime.datetime(2001, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 17277.0},
 {'year': datetime.datetime(2002, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 17781.0},
 {'year': datetime.datetime(2003, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 15897.0},
 {'year': datetime.datetime(2004, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 18190.0},
 {'year': datetime.datetime(2005, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 18065.0},
 {'year': datetime.datetime(2006, 1, 1, 0, 0),
  'trade_type': 'Exports',
  'travel_category': 'Travel, total',
  'value': 18118.0}]

In [26]:
import json

In [27]:
#with open('data.json','w') as file:
    #json.dump(data,file)

In [31]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://dhruvilpandey22:OutBreak22@bdat1004finalproject.ouo0bhf.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'), tls=True)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [32]:
db = client["BDAT1004"]
collection = db["Group_2"]


print("Keys in the data:", data.keys())
print("First item:", data[list(data.keys())[0]][0])

Keys in the data: dict_keys(['data'])
First item: {'year': datetime.datetime(1997, 1, 1, 0, 0), 'trade_type': 'Exports', 'travel_category': 'Travel, total', 'value': 12617.0, '_id': ObjectId('656e229c52969440a11b7742')}

# Insert Data into MongoDB Database

In [33]:
content = data['data']
collection.insert_many(content) #uncomment this for inserting data for first time

InsertManyResult([ObjectId('656e229c52969440a11b7742'), ObjectId('656e229c52969440a11b7743'), ObjectId('656e229c52969440a11b7744'), ObjectId('656e229c52969440a11b7745'), ObjectId('656e229c52969440a11b7746'), ObjectId('656e229c52969440a11b7747'), ObjectId('656e229c52969440a11b7748'), ObjectId('656e229c52969440a11b7749'), ObjectId('656e229c52969440a11b774a'), ObjectId('656e229c52969440a11b774b'), ObjectId('656e229c52969440a11b774c'), ObjectId('656e229c52969440a11b774d'), ObjectId('656e229c52969440a11b774e'), ObjectId('656e229c52969440a11b774f'), ObjectId('656e229c52969440a11b7750'), ObjectId('656e229c52969440a11b7751'), ObjectId('656e229c52969440a11b7752'), ObjectId('656e229c52969440a11b7753'), ObjectId('656e229c52969440a11b7754'), ObjectId('656e229c52969440a11b7755'), ObjectId('656e229c52969440a11b7756'), ObjectId('656e229c52969440a11b7757'), ObjectId('656e229c52969440a11b7758'), ObjectId('656e229c52969440a11b7759'), ObjectId('656e229c52969440a11b775a'), ObjectId('656e229c52969440a11b775b'), ObjectId('656e229c52969440a11b775c'), ObjectId('656e229c52969440a11b775d'), ObjectId('656e229c52969440a11b775e'), ObjectId('656e229c52969440a11b775f'), ObjectId('656e229c52969440a11b7760'), ObjectId('656e229c52969440a11b7761'), ObjectId('656e229c52969440a11b7762'), ObjectId('656e229c52969440a11b7763'), ObjectId('656e229c52969440a11b7764'), ObjectId('656e229c52969440a11b7765'), ObjectId('656e229c52969440a11b7766'), ObjectId('656e229c52969440a11b7767'), ObjectId('656e229c52969440a11b7768'), ObjectId('656e229c52969440a11b7769'), ObjectId('656e229c52969440a11b776a'), ObjectId('656e229c52969440a11b776b'), ObjectId('656e229c52969440a11b776c'), ObjectId('656e229c52969440a11b776d'), ObjectId('656e229c52969440a11b776e'), ObjectId('656e229c52969440a11b776f'), ObjectId('656e229c52969440a11b7770'), ObjectId('656e229c52969440a11b7771'), ObjectId('656e229c52969440a11b7772'), ObjectId('656e229c52969440a11b7773'), ObjectId('656e229c52969440a11b7774'), ObjectId('656e229c52969440a11b7775'), ObjectId('656e229c52969440a11b7776'), ObjectId('656e229c52969440a11b7777'), ObjectId('656e229c52969440a11b7778'), ObjectId('656e229c52969440a11b7779'), ObjectId('656e229c52969440a11b777a'), ObjectId('656e229c52969440a11b777b'), ObjectId('656e229c52969440a11b777c'), ObjectId('656e229c52969440a11b777d'), ObjectId('656e229c52969440a11b777e'), ObjectId('656e229c52969440a11b777f'), ObjectId('656e229c52969440a11b7780'), ObjectId('656e229c52969440a11b7781'), ObjectId('656e229c52969440a11b7782'), ObjectId('656e229c52969440a11b7783'), ObjectId('656e229c52969440a11b7784'), ObjectId('656e229c52969440a11b7785'), ObjectId('656e229c52969440a11b7786'), ObjectId('656e229c52969440a11b7787'), ObjectId('656e229c52969440a11b7788'), ObjectId('656e229c52969440a11b7789'), ObjectId('656e229c52969440a11b778a'), ObjectId('656e229c52969440a11b778b'), ObjectId('656e229c52969440a11b778c'), ObjectId('656e229c52969440a11b778d'), ObjectId('656e229c52969440a11b778e'), ObjectId('656e229c52969440a11b778f'), ObjectId('656e229c52969440a11b7790'), ObjectId('656e229c52969440a11b7791'), ObjectId('656e229c52969440a11b7792'), ObjectId('656e229c52969440a11b7793'), ObjectId('656e229c52969440a11b7794'), ObjectId('656e229c52969440a11b7795'), ObjectId('656e229c52969440a11b7796'), ObjectId('656e229c52969440a11b7797'), ObjectId('656e229c52969440a11b7798'), ObjectId('656e229c52969440a11b7799'), ObjectId('656e229c52969440a11b779a'), ObjectId('656e229c52969440a11b779b'), ObjectId('656e229c52969440a11b779c'), ObjectId('656e229c52969440a11b779d'), ObjectId('656e229c52969440a11b779e'), ObjectId('656e229c52969440a11b779f'), ObjectId('656e229c52969440a11b77a0'), ObjectId('656e229c52969440a11b77a1'), ObjectId('656e229c52969440a11b77a2'), ObjectId('656e229c52969440a11b77a3'), ObjectId('656e229c52969440a11b77a4'), ObjectId('656e229c52969440a11b77a5'), ObjectId('656e229c52969440a11b77a6'), ObjectId('656e229c52969440a11b77a7'), ObjectId('656e229c52969440a11b77a8'), ObjectId('656e229c52969440a11b77a9'), ObjectId('656e229c52969440a11b77aa'), ObjectId('656e229c52969440a11b77ab'), ObjectId('656e229c52969440a11b77ac'), ObjectId('656e229c52969440a11b77ad'), ObjectId('656e229c52969440a11b77ae'), ObjectId('656e229c52969440a11b77af'), ObjectId('656e229c52969440a11b77b0'), ObjectId('656e229c52969440a11b77b1'), ObjectId('656e229c52969440a11b77b2'), ObjectId('656e229c52969440a11b77b3'), ObjectId('656e229c52969440a11b77b4'), ObjectId('656e229c52969440a11b77b5'), ObjectId('656e229c52969440a11b77b6'), ObjectId('656e229c52969440a11b77b7'), ObjectId('656e229c52969440a11b77b8'), ObjectId('656e229c52969440a11b77b9'), ObjectId('656e229c52969440a11b77ba'), ObjectId('656e229c52969440a11b77bb'), ObjectId('656e229c52969440a11b77bc'), ObjectId('656e229c52969440a11b77bd'), ObjectId('656e229c52969440a11b77be'), ObjectId('656e229c52969440a11b77bf'), ObjectId('656e229c52969440a11b77c0'), ObjectId('656e229c52969440a11b77c1'), ObjectId('656e229c52969440a11b77c2'), ObjectId('656e229c52969440a11b77c3'), ObjectId('656e229c52969440a11b77c4'), ObjectId('656e229c52969440a11b77c5'), ObjectId('656e229c52969440a11b77c6'), ObjectId('656e229c52969440a11b77c7'), ObjectId('656e229c52969440a11b77c8'), ObjectId('656e229c52969440a11b77c9'), ObjectId('656e229c52969440a11b77ca'), ObjectId('656e229c52969440a11b77cb'), ObjectId('656e229c52969440a11b77cc'), ObjectId('656e229c52969440a11b77cd'), ObjectId('656e229c52969440a11b77ce'), ObjectId('656e229c52969440a11b77cf'), ObjectId('656e229c52969440a11b77d0'), ObjectId('656e229c52969440a11b77d1'), ObjectId('656e229c52969440a11b77d2'), ObjectId('656e229c52969440a11b77d3'), ObjectId('656e229c52969440a11b77d4'), ObjectId('656e229c52969440a11b77d5'), ObjectId('656e229c52969440a11b77d6'), ObjectId('656e229c52969440a11b77d7'), ObjectId('656e229c52969440a11b77d8'), ObjectId('656e229c52969440a11b77d9'), ObjectId('656e229c52969440a11b77da'), ObjectId('656e229c52969440a11b77db'), ObjectId('656e229c52969440a11b77dc'), ObjectId('656e229c52969440a11b77dd'), ObjectId('656e229c52969440a11b77de'), ObjectId('656e229c52969440a11b77df'), ObjectId('656e229c52969440a11b77e0'), ObjectId('656e229c52969440a11b77e1'), ObjectId('656e229c52969440a11b77e2'), ObjectId('656e229c52969440a11b77e3'), ObjectId('656e229c52969440a11b77e4'), ObjectId('656e229c52969440a11b77e5'), ObjectId('656e229c52969440a11b77e6'), ObjectId('656e229c52969440a11b77e7'), ObjectId('656e229c52969440a11b77e8'), ObjectId('656e229c52969440a11b77e9'), ObjectId('656e229c52969440a11b77ea'), ObjectId('656e229c52969440a11b77eb'), ObjectId('656e229c52969440a11b77ec'), ObjectId('656e229c52969440a11b77ed'), ObjectId('656e229c52969440a11b77ee'), ObjectId('656e229c52969440a11b77ef'), ObjectId('656e229c52969440a11b77f0'), ObjectId('656e229c52969440a11b77f1'), ObjectId('656e229c52969440a11b77f2'), ObjectId('656e229c52969440a11b77f3'), ObjectId('656e229c52969440a11b77f4'), ObjectId('656e229c52969440a11b77f5'), ObjectId('656e229c52969440a11b77f6'), ObjectId('656e229c52969440a11b77f7'), ObjectId('656e229c52969440a11b77f8'), ObjectId('656e229c52969440a11b77f9'), ObjectId('656e229c52969440a11b77fa'), ObjectId('656e229c52969440a11b77fb'), ObjectId('656e229c52969440a11b77fc'), ObjectId('656e229c52969440a11b77fd'), ObjectId('656e229c52969440a11b77fe'), ObjectId('656e229c52969440a11b77ff'), ObjectId('656e229c52969440a11b7800'), ObjectId('656e229c52969440a11b7801'), ObjectId('656e229c52969440a11b7802'), ObjectId('656e229c52969440a11b7803'), ObjectId('656e229c52969440a11b7804'), ObjectId('656e229c52969440a11b7805'), ObjectId('656e229c52969440a11b7806'), ObjectId('656e229c52969440a11b7807'), ObjectId('656e229c52969440a11b7808'), ObjectId('656e229c52969440a11b7809'), ObjectId('656e229c52969440a11b780a'), ObjectId('656e229c52969440a11b780b'), ObjectId('656e229c52969440a11b780c'), ObjectId('656e229c52969440a11b780d'), ObjectId('656e229c52969440a11b780e'), ObjectId('656e229c52969440a11b780f'), ObjectId('656e229c52969440a11b7810'), ObjectId('656e229c52969440a11b7811'), ObjectId('656e229c52969440a11b7812'), ObjectId('656e229c52969440a11b7813'), ObjectId('656e229c52969440a11b7814'), ObjectId('656e229c52969440a11b7815'), ObjectId('656e229c52969440a11b7816'), ObjectId('656e229c52969440a11b7817'), ObjectId('656e229c52969440a11b7818'), ObjectId('656e229c52969440a11b7819'), ObjectId('656e229c52969440a11b781a'), ObjectId('656e229c52969440a11b781b'), ObjectId('656e229c52969440a11b781c'), ObjectId('656e229c52969440a11b781d'), ObjectId('656e229c52969440a11b781e'), ObjectId('656e229c52969440a11b781f'), ObjectId('656e229c52969440a11b7820'), ObjectId('656e229c52969440a11b7821'), ObjectId('656e229c52969440a11b7822'), ObjectId('656e229c52969440a11b7823'), ObjectId('656e229c52969440a11b7824'), ObjectId('656e229c52969440a11b7825'), ObjectId('656e229c52969440a11b7826'), ObjectId('656e229c52969440a11b7827'), ObjectId('656e229c52969440a11b7828'), ObjectId('656e229c52969440a11b7829'), ObjectId('656e229c52969440a11b782a'), ObjectId('656e229c52969440a11b782b'), ObjectId('656e229c52969440a11b782c'), ObjectId('656e229c52969440a11b782d'), ObjectId('656e229c52969440a11b782e'), ObjectId('656e229c52969440a11b782f'), ObjectId('656e229c52969440a11b7830'), ObjectId('656e229c52969440a11b7831'), ObjectId('656e229c52969440a11b7832'), ObjectId('656e229c52969440a11b7833'), ObjectId('656e229c52969440a11b7834'), ObjectId('656e229c52969440a11b7835'), ObjectId('656e229c52969440a11b7836'), ObjectId('656e229c52969440a11b7837'), ObjectId('656e229c52969440a11b7838'), ObjectId('656e229c52969440a11b7839'), ObjectId('656e229c52969440a11b783a'), ObjectId('656e229c52969440a11b783b'), ObjectId('656e229c52969440a11b783c'), ObjectId('656e229c52969440a11b783d'), ObjectId('656e229c52969440a11b783e'), ObjectId('656e229c52969440a11b783f'), ObjectId('656e229c52969440a11b7840'), ObjectId('656e229c52969440a11b7841'), ObjectId('656e229c52969440a11b7842'), ObjectId('656e229c52969440a11b7843'), ObjectId('656e229c52969440a11b7844'), ObjectId('656e229c52969440a11b7845'), ObjectId('656e229c52969440a11b7846'), ObjectId('656e229c52969440a11b7847'), ObjectId('656e229c52969440a11b7848'), ObjectId('656e229c52969440a11b7849'), ObjectId('656e229c52969440a11b784a'), ObjectId('656e229c52969440a11b784b'), ObjectId('656e229c52969440a11b784c'), ObjectId('656e229c52969440a11b784d'), ObjectId('656e229c52969440a11b784e'), ObjectId('656e229c52969440a11b784f'), ObjectId('656e229c52969440a11b7850'), ObjectId('656e229c52969440a11b7851'), ObjectId('656e229c52969440a11b7852'), ObjectId('656e229c52969440a11b7853'), ObjectId('656e229c52969440a11b7854'), ObjectId('656e229c52969440a11b7855'), ObjectId('656e229c52969440a11b7856'), ObjectId('656e229c52969440a11b7857'), ObjectId('656e229c52969440a11b7858'), ObjectId('656e229c52969440a11b7859'), ObjectId('656e229c52969440a11b785a'), ObjectId('656e229c52969440a11b785b'), ObjectId('656e229c52969440a11b785c'), ObjectId('656e229c52969440a11b785d'), ObjectId('656e229c52969440a11b785e'), ObjectId('656e229c52969440a11b785f'), ObjectId('656e229c52969440a11b7860'), ObjectId('656e229c52969440a11b7861'), ObjectId('656e229c52969440a11b7862'), ObjectId('656e229c52969440a11b7863'), ObjectId('656e229c52969440a11b7864'), ObjectId('656e229c52969440a11b7865'), ObjectId('656e229c52969440a11b7866'), ObjectId('656e229c52969440a11b7867'), ObjectId('656e229c52969440a11b7868'), ObjectId('656e229c52969440a11b7869'), ObjectId('656e229c52969440a11b786a'), ObjectId('656e229c52969440a11b786b'), ObjectId('656e229c52969440a11b786c'), ObjectId('656e229c52969440a11b786d'), ObjectId('656e229c52969440a11b786e'), ObjectId('656e229c52969440a11b786f'), ObjectId('656e229c52969440a11b7870'), ObjectId('656e229c52969440a11b7871'), ObjectId('656e229c52969440a11b7872'), ObjectId('656e229c52969440a11b7873'), ObjectId('656e229c52969440a11b7874'), ObjectId('656e229c52969440a11b7875'), ObjectId('656e229c52969440a11b7876'), ObjectId('656e229c52969440a11b7877'), ObjectId('656e229c52969440a11b7878'), ObjectId('656e229c52969440a11b7879'), ObjectId('656e229c52969440a11b787a'), ObjectId('656e229c52969440a11b787b'), ObjectId('656e229c52969440a11b787c'), ObjectId('656e229c52969440a11b787d'), ObjectId('656e229c52969440a11b787e'), ObjectId('656e229c52969440a11b787f'), ObjectId('656e229c52969440a11b7880'), ObjectId('656e229c52969440a11b7881'), ObjectId('656e229c52969440a11b7882'), ObjectId('656e229c52969440a11b7883'), ObjectId('656e229c52969440a11b7884'), ObjectId('656e229c52969440a11b7885'), ObjectId('656e229c52969440a11b7886'), ObjectId('656e229c52969440a11b7887'), ObjectId('656e229c52969440a11b7888'), ObjectId('656e229c52969440a11b7889'), ObjectId('656e229c52969440a11b788a'), ObjectId('656e229c52969440a11b788b'), ObjectId('656e229c52969440a11b788c'), ObjectId('656e229c52969440a11b788d'), ObjectId('656e229c52969440a11b788e'), ObjectId('656e229c52969440a11b788f'), ObjectId('656e229c52969440a11b7890'), ObjectId('656e229c52969440a11b7891'), ObjectId('656e229c52969440a11b7892'), ObjectId('656e229c52969440a11b7893'), ObjectId('656e229c52969440a11b7894'), ObjectId('656e229c52969440a11b7895'), ObjectId('656e229c52969440a11b7896'), ObjectId('656e229c52969440a11b7897'), ObjectId('656e229c52969440a11b7898'), ObjectId('656e229c52969440a11b7899'), ObjectId('656e229c52969440a11b789a'), ObjectId('656e229c52969440a11b789b'), ObjectId('656e229c52969440a11b789c'), ObjectId('656e229c52969440a11b789d'), ObjectId('656e229c52969440a11b789e'), ObjectId('656e229c52969440a11b789f'), ObjectId('656e229c52969440a11b78a0'), ObjectId('656e229c52969440a11b78a1'), ObjectId('656e229c52969440a11b78a2'), ObjectId('656e229c52969440a11b78a3'), ObjectId('656e229c52969440a11b78a4'), ObjectId('656e229c52969440a11b78a5'), ObjectId('656e229c52969440a11b78a6'), ObjectId('656e229c52969440a11b78a7'), ObjectId('656e229c52969440a11b78a8'), ObjectId('656e229c52969440a11b78a9'), ObjectId('656e229c52969440a11b78aa'), ObjectId('656e229c52969440a11b78ab'), ObjectId('656e229c52969440a11b78ac'), ObjectId('656e229c52969440a11b78ad'), ObjectId('656e229c52969440a11b78ae'), ObjectId('656e229c52969440a11b78af'), ObjectId('656e229c52969440a11b78b0'), ObjectId('656e229c52969440a11b78b1'), ObjectId('656e229c52969440a11b78b2'), ObjectId('656e229c52969440a11b78b3'), ObjectId('656e229c52969440a11b78b4'), ObjectId('656e229c52969440a11b78b5'), ObjectId('656e229c52969440a11b78b6'), ObjectId('656e229c52969440a11b78b7'), ObjectId('656e229c52969440a11b78b8'), ObjectId('656e229c52969440a11b78b9'), ObjectId('656e229c52969440a11b78ba'), ObjectId('656e229c52969440a11b78bb'), ObjectId('656e229c52969440a11b78bc'), ObjectId('656e229c52969440a11b78bd'), ObjectId('656e229c52969440a11b78be'), ObjectId('656e229c52969440a11b78bf'), ObjectId('656e229c52969440a11b78c0'), ObjectId('656e229c52969440a11b78c1'), ObjectId('656e229c52969440a11b78c2'), ObjectId('656e229c52969440a11b78c3'), ObjectId('656e229c52969440a11b78c4'), ObjectId('656e229c52969440a11b78c5'), ObjectId('656e229c52969440a11b78c6'), ObjectId('656e229c52969440a11b78c7'), ObjectId('656e229c52969440a11b78c8'), ObjectId('656e229c52969440a11b78c9'), ObjectId('656e229c52969440a11b78ca'), ObjectId('656e229c52969440a11b78cb'), ObjectId('656e229c52969440a11b78cc'), ObjectId('656e229c52969440a11b78cd'), ObjectId('656e229c52969440a11b78ce'), ObjectId('656e229c52969440a11b78cf'), ObjectId('656e229c52969440a11b78d0'), ObjectId('656e229c52969440a11b78d1'), ObjectId('656e229c52969440a11b78d2'), ObjectId('656e229c52969440a11b78d3'), ObjectId('656e229c52969440a11b78d4'), ObjectId('656e229c52969440a11b78d5'), ObjectId('656e229c52969440a11b78d6'), ObjectId('656e229c52969440a11b78d7'), ObjectId('656e229c52969440a11b78d8'), ObjectId('656e229c52969440a11b78d9'), ObjectId('656e229c52969440a11b78da'), ObjectId('656e229c52969440a11b78db'), ObjectId('656e229c52969440a11b78dc'), ObjectId('656e229c52969440a11b78dd'), ObjectId('656e229c52969440a11b78de'), ObjectId('656e229c52969440a11b78df'), ObjectId('656e229c52969440a11b78e0'), ObjectId('656e229c52969440a11b78e1'), ObjectId('656e229c52969440a11b78e2'), ObjectId('656e229c52969440a11b78e3'), ObjectId('656e229c52969440a11b78e4'), ObjectId('656e229c52969440a11b78e5'), ObjectId('656e229c52969440a11b78e6'), ObjectId('656e229c52969440a11b78e7'), ObjectId('656e229c52969440a11b78e8'), ObjectId('656e229c52969440a11b78e9'), ObjectId('656e229c52969440a11b78ea'), ObjectId('656e229c52969440a11b78eb'), ObjectId('656e229c52969440a11b78ec'), ObjectId('656e229c52969440a11b78ed'), ObjectId('656e229c52969440a11b78ee'), ObjectId('656e229c52969440a11b78ef'), ObjectId('656e229c52969440a11b78f0'), ObjectId('656e229c52969440a11b78f1'), ObjectId('656e229c52969440a11b78f2'), ObjectId('656e229c52969440a11b78f3'), ObjectId('656e229c52969440a11b78f4'), ObjectId('656e229c52969440a11b78f5'), ObjectId('656e229c52969440a11b78f6'), ObjectId('656e229c52969440a11b78f7'), ObjectId('656e229c52969440a11b78f8'), ObjectId('656e229c52969440a11b78f9'), ObjectId('656e229c52969440a11b78fa'), ObjectId('656e229c52969440a11b78fb'), ObjectId('656e229c52969440a11b78fc'), ObjectId('656e229c52969440a11b78fd'), ObjectId('656e229c52969440a11b78fe'), ObjectId('656e229c52969440a11b78ff'), ObjectId('656e229c52969440a11b7900'), ObjectId('656e229c52969440a11b7901'), ObjectId('656e229c52969440a11b7902'), ObjectId('656e229c52969440a11b7903'), ObjectId('656e229c52969440a11b7904'), ObjectId('656e229c52969440a11b7905'), ObjectId('656e229c52969440a11b7906'), ObjectId('656e229c52969440a11b7907'), ObjectId('656e229c52969440a11b7908'), ObjectId('656e229c52969440a11b7909'), ObjectId('656e229c52969440a11b790a'), ObjectId('656e229c52969440a11b790b'), ObjectId('656e229c52969440a11b790c'), ObjectId('656e229c52969440a11b790d'), ObjectId('656e229c52969440a11b790e'), ObjectId('656e229c52969440a11b790f'), ObjectId('656e229c52969440a11b7910'), ObjectId('656e229c52969440a11b7911'), ObjectId('656e229c52969440a11b7912'), ObjectId('656e229c52969440a11b7913'), ObjectId('656e229c52969440a11b7914'), ObjectId('656e229c52969440a11b7915'), ObjectId('656e229c52969440a11b7916'), ObjectId('656e229c52969440a11b7917'), ObjectId('656e229c52969440a11b7918'), ObjectId('656e229c52969440a11b7919'), ObjectId('656e229c52969440a11b791a'), ObjectId('656e229c52969440a11b791b'), ObjectId('656e229c52969440a11b791c'), ObjectId('656e229c52969440a11b791d'), ObjectId('656e229c52969440a11b791e'), ObjectId('656e229c52969440a11b791f'), ObjectId('656e229c52969440a11b7920'), ObjectId('656e229c52969440a11b7921'), ObjectId('656e229c52969440a11b7922'), ObjectId('656e229c52969440a11b7923'), ObjectId('656e229c52969440a11b7924'), ObjectId('656e229c52969440a11b7925'), ObjectId('656e229c52969440a11b7926'), ObjectId('656e229c52969440a11b7927'), ObjectId('656e229c52969440a11b7928'), ObjectId('656e229c52969440a11b7929'), ObjectId('656e229c52969440a11b792a'), ObjectId('656e229c52969440a11b792b'), ObjectId('656e229c52969440a11b792c'), ObjectId('656e229c52969440a11b792d'), ObjectId('656e229c52969440a11b792e'), ObjectId('656e229c52969440a11b792f'), ObjectId('656e229c52969440a11b7930'), ObjectId('656e229c52969440a11b7931'), ObjectId('656e229c52969440a11b7932'), ObjectId('656e229c52969440a11b7933'), ObjectId('656e229c52969440a11b7934'), ObjectId('656e229c52969440a11b7935'), ObjectId('656e229c52969440a11b7936'), ObjectId('656e229c52969440a11b7937'), ObjectId('656e229c52969440a11b7938'), ObjectId('656e229c52969440a11b7939'), ObjectId('656e229c52969440a11b793a'), ObjectId('656e229c52969440a11b793b'), ObjectId('656e229c52969440a11b793c'), ObjectId('656e229c52969440a11b793d'), ObjectId('656e229c52969440a11b793e'), ObjectId('656e229c52969440a11b793f'), ObjectId('656e229c52969440a11b7940'), ObjectId('656e229c52969440a11b7941'), ObjectId('656e229c52969440a11b7942'), ObjectId('656e229c52969440a11b7943'), ObjectId('656e229c52969440a11b7944'), ObjectId('656e229c52969440a11b7945'), ObjectId('656e229c52969440a11b7946'), ObjectId('656e229c52969440a11b7947'), ObjectId('656e229c52969440a11b7948'), ObjectId('656e229c52969440a11b7949'), ObjectId('656e229c52969440a11b794a'), ObjectId('656e229c52969440a11b794b'), ObjectId('656e229c52969440a11b794c'), ObjectId('656e229c52969440a11b794d'), ObjectId('656e229c52969440a11b794e'), ObjectId('656e229c52969440a11b79